{{>_navbar}}
{{>_msg}}
<div class="container mt-4">
  <h3>Cadastro de leilão</h3>
  {{#if success}}
  <div class="alert alert-success">{{msg}}</div>
  {{/if}}
  {{#if error}}
  <div class="alert alert-danger">{{msg}}</div>
  {{/if}}
  <form action="/additemWeb" method="POST">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input id="nameAuction" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="emailHelp"
          placeholder="Nome do leilão">
        <small class="form-text text-muted">Digite o nome do seu leilão, ele é único.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Descrição</label>
        <input id="descriptionAuction" class="form-control" name="description" aria-describedby="emailHelp"
          placeholder="Descrição">
        <small class="form-text text-muted">Uma breve descrição do seu leilão.</small>
      </div>
      <div class="form-group">
        <label for="start">Data de término do leilão:</label>
        <input type="date" name="endDate" id="end-date">
      </div>
      <button class="btn btn-success">Cadastrar itens</a>
    </form>
  </form>
</div>
<br>
<br>
<br>
<br>
{{>_footer}}

<script type"text/javascript" src="js/main.js"></script>