{{>_navbar}}
{{>_msg}}
<div class="container mt-4">
      <h3>Cadastro de Item</h3>
 {{#if success}}
      <div class="alert alert-success">Item cadastrado com sucesso.</div>
 {{/if}}
  {{#if error}}
      <div class="alert alert-danger">{{msg}}</div>
 {{/if}}

 

<div>
     <label for="images">Escolha uma imagem para o seu item:</label>
  <input type="file"
       id="images" name="images"
       accept="image/png, image/jpeg"
>  
  <button id="saveImg" class="btn btn-success">Salvar imagem</button>
   
</div>
   <form action="/registeritem" method="POST" > 
  <div class="form-group">
    <label for="exampleInputEmail1">Nome</label>
    <input id="nameItem" class="form-control" id="nameiteminput" name="name" aria-describedby="emailHelp" placeholder="Nome do item">
    <small class="form-text text-muted">Digite o nome do seu item.</small>
  </div>
  <div class="form-group">
    <label >Descrição</label>
    <input id="descriptionItem" class="form-control" name="description" aria-describedby="emailHelp" placeholder="Descrição">
    <small class="form-text text-muted">Uma breve descrição do seu item.</small>
  </div>
  <div class="form-group">
<label for="exampleInputEmail1">Preço R$</label>
    <input name="price" id="price" type="number" min="1" step="any">
   </div>
   <div class="form-group">


 <button id="cadItem" class="btn btn-success">Cadastrar item</button>
</form>
</form>
<br>





 
    <br>

<form action="/finalize" method="POST">
     <button class="btn btn-success">Finalizar cadastro</button>
</form>
</div>
<br>
        <br>
        {{>_footer}}
<script type="text/javascript">
  const toBase64 = file => new Promise((resolve, reject) => {
	    const reader = new FileReader();
	    reader.readAsDataURL(file);
	    reader.onload = () => resolve(reader.result);
	    reader.onerror = error => reject(error);
	});

const saveImg = document.getElementById('saveImg')
saveImg.addEventListener('click', function(){
const uploadedFile = document.querySelector('#images').files[0];
		toBase64(uploadedFile)
		.then(res => {
  
      body = {
        imagens : res
      }
      const options = {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      body: Object.keys(body)
        .map(k => `${encodeURIComponent(k)}=${encodeURIComponent(body[k])}`)
        .join('&')
    }
    fetch('https://leil-on.herokuapp.com/saveimg', options)
      .then(function(response) {
        console.log('Deu certo')
})
		})
		.catch(err => {
      console.log('ERRO')
    	console.log(err);
		})
})
  </script>