<head>
        <link rel="stylesheet" href="/css/style.css">
</head>
{{#if success}}
 <div class="alert alert-success">Usuário cadastrado com sucesso</div>
{{/if}}
{{#if error}}
 <div class="alert alert-danger">{{msg}}</div>
{{/if}}
<h2>Leil-on</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/adduserweb" method="POST">
			<h1>Criar conta</h1>
			<span>Faça cadastro usando seu email</span>
			<input name="name" type="name" placeholder="Nome" />
            <input name="email" type="email" placeholder="Email" />
			<input name="telefone" type="telefone" placeholder="Telefone" />
              <input name="cep" type="cep" placeholder="CEP" />
            <input name="password" type="password" placeholder="Senha" />
			 
            <button>Finalizar Cadastro</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/authenticateweb" method="POST">
			<h1>Login</h1>
			
			<input id="emailLogin" name="email" type="email" placeholder="Email" />
			<input id="passwordLogin" name="password" type="password" placeholder="Senha" />
			<button id="btnLogin">Login</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Seja bem vindo de volta!</h1>
				<p>Caso você já possua uma conta faço o login agora mesmo</p>
				<button class="ghost" id="signIn">Login</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Olá amigo!</h1>
				<p>Caso você não possua um cadastro crie uma conta agora mesmo</p>
				<button class="ghost" id="signUp">Cadastro</button>
			</div>
		</div>
	</div>
</div>

<script type"text/javascript" src="js/main.js"></script>
